/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/* BLOCK #ptssubcategoriestab_block ******************************************************************** */
#ptssubcategoriestab_block .category_item {
  background: white;
}
@media (min-width: 1200px) {
  #ptssubcategoriestab_block .category_item .inner {
    display: table;
  }
}
#ptssubcategoriestab_block .category_item .category_desc {
  width: 23%;
  display: block;
  float: left;
  position: relative;
}
.rtl #ptssubcategoriestab_block .category_item .category_desc {
  float: right;
}
#ptssubcategoriestab_block .category_item .category_desc:before {
  position: absolute;
  content: "";
  background: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#ptssubcategoriestab_block .category_item .category_desc:hover:before {
  opacity: 0.2;
}
#ptssubcategoriestab_block .category_item .category_content {
  width: 100%;
  display: block;
  float: left;
}
.rtl #ptssubcategoriestab_block .category_item .category_content {
  float: right;
}
@media (min-width: 1200px) {
  #ptssubcategoriestab_block .category_item .category_content {
    width: 77%;
  }
}
@media (max-width: 991px) {
  #ptssubcategoriestab_block .category_item .category_content {
    border-top: 1px solid #e5e5e5;
  }
}
#ptssubcategoriestab_block .category_item .category_content .carousel-controls {
  top: 37%;
  width: 20px;
  height: 72px;
  z-index: 9999;
}
#ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control {
  width: 20px;
  height: 35px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  line-height: 35px;
  color: white;
  background: #e1e1e1;
  border: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control.left {
  top: 0;
  left: 20px;
}
#ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control.right {
  bottom: 0;
  top: auto;
  right: 20px;
}
#ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control:hover {
  background: #268bb9;
}
@media (max-width: 991px) {
  #ptssubcategoriestab_block .category_item .category_content .carousel-controls {
    top: 8px;
    right: 20px;
  }
  .rtl #ptssubcategoriestab_block .category_item .category_content .carousel-controls {
    left: 20px;
    right: auto;
  }
  #ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  #ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control.left {
    left: 0;
  }
  #ptssubcategoriestab_block .category_item .category_content .carousel-controls .carousel-control.right {
    right: 0;
  }
}
#ptssubcategoriestab_block .category_item .category_content .boxcarousel:hover .carousel-control {
  opacity: 1;
}
#ptssubcategoriestab_block .category_item .category_content .boxcarousel:hover .carousel-control.left {
  left: 0;
}
#ptssubcategoriestab_block .category_item .category_content .boxcarousel:hover .carousel-control.right {
  right: 0;
}
#ptssubcategoriestab_block .category_item .category_sub {
  width: 100%;
  float: left;
  border-right: 1px solid #e5e5e5;
}
@media (min-width: 992px) {
  #ptssubcategoriestab_block .category_item .category_sub {
    width: 22%;
    display: table-cell;
    float: none;
    min-height: 350px;
  }
}
.rtl #ptssubcategoriestab_block .category_item .category_sub {
  float: right;
}
.rtl #ptssubcategoriestab_block .category_item .category_sub {
  border-left: 1px solid #e5e5e5;
  border-right: inherit;
}
#ptssubcategoriestab_block .category_item .category_sub ul.nav {
  padding: 15px 0 15px 15px;
}
.rtl #ptssubcategoriestab_block .category_item .category_sub ul.nav {
  padding: 15px 15px 15px 0;
}
@media (max-width: 480px) {
  #ptssubcategoriestab_block .category_item .category_sub ul.nav {
    display: none;
  }
}
#ptssubcategoriestab_block .category_item .category_sub ul.nav > li {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  margin: 0;
}
@media (max-width: 991px) {
  #ptssubcategoriestab_block .category_item .category_sub ul.nav > li {
    float: left;
  }
  .rtl #ptssubcategoriestab_block .category_item .category_sub ul.nav > li {
    float: right;
  }
}
#ptssubcategoriestab_block .category_item .category_sub ul.nav > li.active {
  border-color: #e5e5e5;
}
@media (max-width: 991px) {
  #ptssubcategoriestab_block .category_item .category_sub ul.nav > li.active {
    border: none;
  }
}
#ptssubcategoriestab_block .category_item .category_sub ul.nav > li.active:after {
  border: 2px solid white;
  content: "";
  height: 100%;
  position: absolute;
  right: -2px;
  top: 0;
  width: 0;
  z-index: 9;
}
.rtl #ptssubcategoriestab_block .category_item .category_sub ul.nav > li.active:after {
  left: -2px;
  right: auto;
}
#ptssubcategoriestab_block .category_item .category_sub ul.nav > li a {
  padding: 10px;
  text-transform: none;
}
#ptssubcategoriestab_block .category_item .category_title {
  background: #268bb9;
  color: white;
  height: 85px;
  line-height: 85px;
  margin: 0;
  font-family: "shruti-bold";
  font-size: 16px;
  padding: 0 10px 0 25px;
}
#ptssubcategoriestab_block .category_item.cat_fashion .category_title {
  color: white;
  background-color: #883866;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_fashion .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_cosmetic .category_title {
  background-color: #ff649d;
  color: white;
  background-color: #ff649d;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_cosmetic .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_shoe .category_title {
  color: white;
  background-color: #155970;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_shoe .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_digital .category_title {
  color: white;
  background-color: #268bb9;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_digital .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_electrical .category_title {
  color: white;
  background-color: #17b4bb;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_electrical .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_toy .category_title {
  color: white;
  background-color: #73939e;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_toy .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_food .category_title {
  color: white;
  background-color: #674941;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_food .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_snack .category_title {
  color: white;
  background-color: #6bc15f;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_snack .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_fruit .category_title {
  color: white;
  background-color: #f8694d;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_fruit .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_import .category_title {
  color: white;
  background-color: #3cb38d;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_import .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_beverage .category_title {
  color: white;
  background-color: #d4595e;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_beverage .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item.cat_special .category_title {
  color: white;
  background-color: #674941;
  border-color: transparent;
}
#ptssubcategoriestab_block .category_item.cat_special .category_title:before {
  border-color: white;
}
#ptssubcategoriestab_block .category_item .category_product_tab {
  width: 100%;
}
@media (min-width: 992px) {
  #ptssubcategoriestab_block .category_item .category_product_tab {
    width: 78%;
    display: table-cell;
    vertical-align: top;
    float: none;
  }
  #ptssubcategoriestab_block .category_item .category_product_tab .product_list > li {
    border-bottom: none;
    min-height: 350px;
  }
}
#ptssubcategoriestab_block .category_item .category_product_tab .tab-content {
  margin: 0;
}
#ptssubcategoriestab_block .category_item .category_productlist {
  margin-bottom: 0;
  overflow: hidden;
}
#ptssubcategoriestab_block .category_item .category_productlist .carousel-controls {
  top: -35px;
  right: 20px;
}
.rtl #ptssubcategoriestab_block .category_item .category_productlist .carousel-controls {
  left: 20px;
  right: auto;
}
#ptssubcategoriestab_block .category_item .category_productlist .carousel-controls .carousel-control {
  color: white;
  border-color: white;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#ptssubcategoriestab_block .category_item .category_productlist .carousel-controls .carousel-control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #333;
  border-color: #333;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .title_block {
  color: white;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .action-btn {
  position: relative;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .btn-shopping-cart {
  margin: 0;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .image {
  float: left;
  width: 40%;
  margin-right: 10px;
}
.rtl #ptssubcategoriestab_block .category_item .category_productlist .product-block .image {
  float: right;
}
.rtl #ptssubcategoriestab_block .category_item .category_productlist .product-block .image {
  margin-left: 10px;
  margin-right: inherit;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .product-label, #ptssubcategoriestab_block .category_item .category_productlist .product-block .availability, #ptssubcategoriestab_block .category_item .category_productlist .product-block .action-btn {
  display: none;
}
#ptssubcategoriestab_block .category_item .category_productlist .product-block .product_img_link:before {
  display: none;
}
